---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=e9c170c7&app_key=edb9cb9c3fe8400bbaa929c0a81446ce&from=0&q=&to=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "to" : [ "10" ],
            "q" : [ "" ],
            "app_id" : [ "e9c170c7" ],
            "app_key" : [ "edb9cb9c3fe8400bbaa929c0a81446ce" ],
            "from" : [ "0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 04 Nov 2016 03:00:06 GMT
recorded_with: VCR 3.0.3
