<h1>hi</h1>

<%= params %>


<% @recipes.each do |recipe| %>
  <ul>
    <li><%= image_tag(recipe.image, class: 'index_image') %></li>
    <li><%= link_to(recipe.label, show_recipe_path(recipe.label)) %></li>
  </ul>
<% end %>
