
<div class='row'>
  <article class='small-6 medium-6 large-8 small-centered columns'>
    <%= image_tag('what-the-heck-should-I-eat-logo.png', {alt: 'logo', title: 'logo', class: 'logo'}) %>
  </article>
</div>

<div class='row'>
  <aside class='small-6 medium-6 large-8 small-centered columns'>
    <%= form_tag('results', method: :get, class: 'small-12 medium-8 small-centered columns') do %>
      <%= text_field_tag :query %><%= submit_tag "search", class: "button small-6 medium-centered columns" %>
    <% end %>
  </aside>
</div>
