/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 */

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.logo{
  margin: 2% 25vw 5% 25vw;
  width: 50vw;
}

.recipe-image{
  border-radius: 50%;
}

.single-image{
  float: left;
}

footer{
  text-align: right;
  padding-bottom: 1rem;
  bottom: 0;
  position: fixed;
}

.search-holder{
  margin-bottom: 10vh;
}

ul li{
  list-style-type: none;
}

li {
  display: inline;
}

li.not-inline{
  display: block;
}

header{
  padding-bottom: 3vh;
}

header h1{
  background-color: rgb(5, 145, 36);
}

header h1 a{
  color: white;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  padding-left: 2vw;
}

a:hover{
  color: rgb(5, 145, 36);
  font-weight: bolder;
  text-decoration: underline;
}

.button{
  background-color: rgb(5, 145, 36);
  font-weight: bold;
}

.button:hover{
  background-color: rgb(5, 145, 36);
  text-decoration: underline;
}

header h1 a:hover{
  color: white;
  text-decoration: none;
}

a{
  color: rgb(5, 145, 36);
  font-weight: bolder;
}

.recipe-fancy{
  font-family: 'Montserrat', helvetica;
  font-size: 2.25rem;
}

.title-side{
  margin-top: 10%;
}

.results-line{
  margin-top: 3%;
  margin-bottom: 3%;
}
